aiohttp==3.9.1
aiosignal==1.4.0
aiosqlite==0.19.0
amqp==5.3.1
anyio==4.12.1
argcomplete==3.1.4
asgiref==3.9.1
astroid==3.0.2
async-generator==1.10
asyncio==3.4.3
attrs==23.2.0
autobahn==25.12.2
Automat==25.4.16
Babel==2.10.3
bcc==0.29.1
bcrypt==3.2.2
beautifulsoup4==4.12.2
billiard==4.2.1
blinker==1.7.0
Brlapi==0.8.5
cbor2==5.8.0
celery==5.5.1
certifi==2026.1.4
cffi==2.0.0
channels==4.0.0
chardet==5.2.0
charset-normalizer==3.4.3
cliapp==1.20180812.1
click==8.1.6
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloud-init==25.1.4
cmdtest==0.32+git
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==46.0.1
cssselect==1.2.0
cupshelpers==1.0
curl_cffi==0.14.0
daphne==4.2.1
dbus-python==1.3.2
defer==1.0.6
dill==0.3.8
distro==1.9.0
distro-info==1.7+build1
dj-database-url==3.1.0
dj-rest-auth==7.0.1
Django==5.2.5
django-allauth==65.10.0
django-anymail==12.0
django-celery-beat==2.8.0
django-cors-headers==4.7.0
django-environ==0.12.0
django-filter==25.1
django-modeltranslation==0.19.17
django-timezone-field==7.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.94.2
drf-yasg==1.21.10
duplicity==2.1.4
et_xmlfile==2.0.0
Faker==40.4.0
fasteners==0.18
Flask==3.0.0
flask-cors==6.0.2
frozenlist==1.8.0
gevent==23.9.1
greenlet==3.0.1
gunicorn==21.2.0
gyp==0.1
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.4
httpx==0.25.2
hyperlink==21.0.0
idna==3.10
importlib-metadata==4.12.0
Incremental==24.11.0
inflection==0.5.1
isort==5.6.4
itsdangerous==2.2.0
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
kombu==5.5.3
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
logilab-common==1.9.8
louis==3.29.0
lxml==4.9.3
Mako==1.3.2.dev0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
monotonic==1.6
more-itertools==10.2.0
msgpack==1.1.2
multidict==6.7.1
mypy-extensions==1.0.0
mysql-connector-python==9.3.0
netaddr==0.8.0
numpy==2.4.2
oauthlib==3.2.2
olefile==0.46
openpyxl==3.1.5
orjson==3.9.10
outcome==1.3.0.post0
packaging==24.0
pandas==3.0.0
paramiko==2.12.0
pexpect==4.9.0
pillow==11.3.0
pipx==1.4.3
platformdirs==4.2.0
playwright==1.40.0
prompt_toolkit==3.0.51
propcache==0.4.1
psutil==5.9.8
psycopg==3.2.6
ptyprocess==0.7.0
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycairo==1.25.1
pycparser==2.23
pycups==2.0.1
pyee==11.0.1
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.10.1
pylint==3.0.3
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==25.3.0
pyparsing==3.1.1
pyrsistent==0.20.0
pyserial==3.5
PySocks==1.7.1
python-apt==2.7.7+ubuntu5.1
python-crontab==3.2.0
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-decouple==3.8
python-dotenv==1.0.0
python-telegram-bot==20.7
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
qrcode==8.0
redis==5.2.1
reportlab==4.4.0
requests==2.32.4
rich==13.7.1
screen-resolution-extra==0.0.0
selenium==4.40.0
service-identity==24.2.0
setuptools==80.9.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.3
stripe==11.6.0
systemd-python==235
toml==0.10.2
tomlkit==0.12.4
trio==0.32.0
trio-typing==0.10.0
trio-websocket==0.12.2
ttystatus==0.38
Twisted==25.5.0
txaio==25.12.2
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.2
ujson==5.9.0
unattended-upgrades==0.1
Unidecode==1.4.0
uritemplate==4.1.1
urllib3==2.6.3
usb-creator==0.3.16
userpath==1.9.1
vine==5.1.0
wadllib==1.3.6
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.5
wheel==0.45.1
whitenoise==6.11.0
wsproto==1.3.2
xdg==5
xkit==0.0.0
yarl==1.22.0
zipp==1.0.0
zombie-imp==0.0.2
zope.event==6.1
zope.interface==8.2
